<tr onclick="window.location.href = 'http://localhost:2017/manage/<%= config.manager %>';">
    <td><a href="/manage/<%= config.manager %>" target="_self">Manager Name: </a></td>
    <td><a href="/manage/<%= config.manager %>" target="_self"><%= config.manager %></a></td>
</tr>