<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Ecolab!</title>
  <link href="../styles/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../styles/index.css">

  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/index.js"></script>
</head>
<body>

<div id="main-container">

  <div class="container" id="nav-container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="http://www.ecolab.com.cn/" target="_blank">
          <img src="../images/nav-ico.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <table class="table table-hover">
          <caption><b>Welcome!<br /><span id="username"><%= records.user %></span><br />All Data Is Here. Click to view detail.</b></caption>
          <thead>
          <tr>
            <th>EnglishName/客户中文名</th>
            <th>PipelineStatus/Pipeline进度</th>
            <th>TargetRate/成功几率</th>
            <th>AnnualSales(RMB)/年度金额（元）</th>
            <th>SalesRep/销售代表</th>
            <th>FollowingStatus/进展状态</th>
            <th>SalesType/销售类型</th>
            <th>MarketClassification/市场分类</th>
          </tr>
          </thead>
          <tbody id="content-container">
          <% records.forEach(function (record) { %>
          <%- include('components/data-brief', { record: record }) %>
          <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container" id="add-button-container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="http://cnshafinaap01p:2017/create">
          <p>Click me to add new data.</p>
        </a>
      </div>
    </div>
  </div>

  <div class="container" id="download-button-container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="/download" id="download-button">
          <p>Click me to download all the data.</p>
        </a>
      </div>
    </div>
  </div>

  <div class="container" id="footer-container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="http://www.ecolab.com.cn/" target="_blank">Contact Us</a>
      </div>
    </div>
  </div>
</div>


</body>
</html>