<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Ecolab!</title>
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/manage.css">

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/manage.js"></script>
</head>
<body>

<div id="main-container">

    <div class="container" id="nav-container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="http://www.ecolab.com.cn/" target="_blank">
                    <img src="../images/nav-ico.png">
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <table class="table table-hover">
                    <caption><b>Welcome!<br /><span>Administrator: <%= managerData.username %></span><br />All Managers' Config are Here. Click to edit detail.</b></caption>
                    <thead>
                    <tr>
                        <th>Manager Config/经理配置</th>
                    </tr>
                    </thead>
                    <tbody id="content-container">
                    <% managerData.managerConfigs.forEach(function (config) { %>
                    <tr onclick="window.location.href = 'http://localhost:2017/manage/<%= encodeURI(config.manager) %>';">
                        <td><a href="/manage/<%= encodeURI(config.manager)%>" target="_self">Manager/经理</a></td>
                        <td><%= config.manager %></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container button-container" id="add-button-container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="http://localhost:2017/manager-create">
                    <p>Click me to add manager.</p>
                </a>
            </div>
        </div>
    </div>

    <div class="container button-container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="http://localhost:2017/index">
                    <p>Click me to back to index.</p>
                </a>
            </div>
        </div>
    </div>


    <div class="container" id="footer-container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="http://www.ecolab.com.cn/" target="_blank">Contact Us</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>